 .app {
      width: 100%;
      max-width: 1366px;
      height: 100vh;
      max-height: 1024px;
      position: relative;
      overflow: hidden;
      background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url("Flight.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .screen {
      position: absolute;
      inset: 0;
      padding: 24px 16px 32px;
      display: none;
      flex-direction: column;
    }

    .screen.active {
      display: flex;
    }

    /* READY SCREEN */
    .ready-top {
      display: flex;
      justify-content: flex-end;
      font-family: "MokotoOutline", system-ui;
      font-size: 0.8rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .ready-next {
      cursor: pointer;
    }

    .ready-center {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
    }

    .ready-word {
      font-family: "MokotoGlitch", system-ui;
      font-size: 2rem;
      letter-spacing: 0.3em;
    }

    .ready-bottom {
      text-align: center;
      font-family: "MokotoOutline", system-ui;
      font-size: 1rem;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }

    
    .grid-header {
      font-family: "MokotoOutline", system-ui;
      font-size: 0.8rem;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .grid-header span {
      cursor: pointer;
    }

    .grid-spacer {
      height: 12px;
    }

    .grid-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    
    .symbol-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 15px;
      justify-content: center;
    }

    .symbol {
      width: 110px;
      height: 110px;
      border: 1px solid rgba(255,255,255,0.9);
      background: rgba(0,0,0,0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .symbol img {
      width: 85%;
      height: 85%;
      object-fit: contain;
      pointer-events: none;
    }

    .grid-footer {
      margin-top: 18px;
      text-align: center;
      font-family: "MokotoOutline", system-ui;
      font-size: 0.7rem;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
